.project {
    background-color: var(--bg-clr);
    width: 101vw;
    padding: 50px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px !important;
}

.project-cont {
    width: 100%;
    margin: 0 50px;
    border: 2px solid var(--sec-clr);
    border-radius: 10px;
    padding: 30px;
    overflow-x: scroll;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    position: relative;
}


.project-cont::-webkit-scrollbar {
    height: 4px;
    opacity: 0.7;
}

.project-item {
    width: 100%;
    background:#fff;
    padding: 20px 14px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    outline: 2px solid black;
    outline-offset: -5px;
    box-shadow: 1px 2px 7px black;
    transition: all 0.5s;
}

.project-thumb {
    width: 100%;
    height: 190px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
}

.project-thumb>img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
}

.project-links {
    opacity: 0;
    transition: all 0.1s;
    height: 100%;
    width: 100%;
    z-index: 10;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.project-links a {
    z-index: 5;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-links a:hover{
    transition: all 0.2s ease;
    scale: 0.9;
}
.project-links span {
    height: 25px;
    width: 25px;
    color: #fff;
    overflow: hidden;
}

.project-links svg {
    height: 25px;
    width: 25px;
}

.project-item:hover {
    box-shadow: 1px 0px 5px white;
    outline-color: var(--sec-clr);
    outline-offset: 2px;
}

.project-item:hover img,
.project-thumb:hover img {
    opacity: 0.4;
    z-index: 1;
}

.project-item:hover .project-links,
.project-thumb:hover .project-links {
    opacity: 1;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.project-info .project-head {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
}

.project-info .project-text {
    color: grey;
    font-size: 0.9rem;
    padding: 5px 5px 0 5px;
}

.project-skill-cont {
    padding: 2px 0;
    margin-top: 8px;
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project-skill {
    padding: 7px 12px;
    margin: 3px 5px;
    font-size: 0.9rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.233);
    /* backdrop-filter: blur(15px); */
    color: white;
}

@media screen and (max-width:1200px) {
    .project {
        padding: 50px 10vw;
    }

    .project-cont {
        gap: 25px;
        grid-template-columns: 1fr 1fr;
    }

    .project-item {
        width:100%;
    }
}

@media screen and (max-width:950px) {
    .project {
        padding: 50px 8vw;
    }

}
@media screen and (max-width:700px) {
    .project-cont {
        grid-template-columns: 1fr;
    }
    .project-item{
        flex-direction: row;
    }
    .project-info{
        width: 90%;
    }
}
@media screen and (max-width:550px) {

    .project-item {
        flex-direction: column;
    }
}