.about{   
    background-color: var(--bg-clr);
    width:101vw;
    padding: 50px 10vw;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 100px !important;
}

.heading{
    font-size: 3.7rem;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}
.heading span{
    color: var(--sec-clr);
}