
.contact{
    background-color: var(--bg-clr);
    width: 101vw;
    padding: 50px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px !important;
}
.contact-box{
    width: 100%;
    border: 2px solid var(--sec-clr);
    border-radius: 10px;
    padding: 40px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    color: white;
}
.contact-form div{
    position: relative;
    margin: 20px 0;
    overflow: visible;
}
.contact-form label{
    font-size: 1rem;
    position: absolute;
    top: 11px;
    left: 15px;
    z-index: 10;
    transition: all 0.3s ease;
    padding: 1px;
}

.contact-form div input, .contact-form div textarea{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0 10px;
    background-color: #ffffff21;
    color: white;
    z-index: -1;
    /* position: absolute; */
    
}
.contact-form div textarea{
    height: 150px;
    padding: 10px;
    resize: none;
}
.contact-form div input:focus + label, .contact-form div input:not(:placeholder-shown)~label,
.contact-form div textarea:focus + label, .contact-form div textarea:not(:placeholder-shown)~label{
    top: -12px;
}

/* .contact-form input::placeholder  */
/* .contact-form textarea::placeholder{ */
.contact-form input::placeholder, .contact-form textarea::placeholder{
    visibility: hidden;
}
.contact-form input:focus, .contact-form textarea:focus{
    border: 2px solid var(--sec-clr);
}
.contact-form input:invalid{
    border: 2px solid red;
}
.submit-btn{
    margin: 0 auto;
    margin-top: 25px;
    padding: 15px;
    width: 180px;
    border-radius: 10px;
    color: white;
    border: 3px solid var(--sec-clr);
    background-color: var(--sec-clr);
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}

.submit-btn:active{
    color: var(--sec-clr);
    background-color: white;
    filter: brightness(1);
}


@media screen and (max-width:1200px) {
    .contact{
        padding: 50px 10vw;
    }
}
@media screen and (max-width:950px) {
    .contact{
        padding: 50px 8vw;
    }
    
}
@media screen and (max-width:700px){
    .contact-box{
        padding: 25px 18px;
    }
}