
.socialButton{
    z-index: 10;
}

.iconLinks{
    position: fixed;
    left: 15px;
    bottom: 10px;
    height: 55px;
    width: 55px;
    font-size: 1.7rem;
    /* color: var(--sec-clr); */
    /* color: rgb(74,74,255); */
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    outline: 4px solid var(--sec-clr);
    outline-offset: -6px;
    /* background-color: white; */
    background-color: rgb(22, 29, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    text-decoration: none;
}
.iconLinks:hover{
    outline-offset: 0px;
}

.icons-box a{
    z-index: 5;
    height: 55px;
    width: 55px;
}
.iconLinks.twitter{
    /* bottom: 70px;
    left: 0px; */
    bottom: 250px;
    left: 15px;
    /* color:#26a7de; */
}
.iconLinks.github{
    /* left: 53px;
    bottom: 95px; */
    left: 15px;
    bottom: 190px;
    /* color: black; */
}
.iconLinks.linkedin{
    /* bottom: 0px;
    left: 75px; */
    bottom: 130px;
    left: 15px;
    /* color:  #0077b5; */
}
.iconLinks.leetcode{
    /* left: 95px;
    bottom: 55px; */
    left: 15px;
    bottom: 70px;
}
.iconLinks.leetcode svg{
    height: 40px;
    width: 30px;
} 
