
.socialButton{
    z-index: 10;
}

.iconLinks{
    position: fixed;
    left: 20px;
    bottom: 20px;
    height: 70px;
    width: 70px;
    font-size: 1.7rem;
    color: var(--sec-clr);
    cursor: pointer;
    border-radius: 50%;
    outline: 4px solid var(--sec-clr);
    outline-offset: -7px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    text-decoration: none;
}

.icons-box a{
    z-index: 5;
    height: 65px;
    width: 65px;
}
.iconLinks.twitter{
    bottom: 100px;
    left: 15px;
    color:#26a7de;
}
.iconLinks.github{
    left: 90px;
    bottom: 85px;
    color: black;
}
.iconLinks.linkedin{
    bottom: 10px;
    left: 100px;
    color:  #0077b5;
}

