*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: var(--bg-clr);
    width: 7px;
    /* box-shadow: inset 0 0 5px blue; */
}
::-webkit-scrollbar:hover{
    width: 9px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--sec-clr);
}

:root{
    --bg-clr: rgb(18,23,29);
    --sec-clr: rgb(69, 69, 247);

}
body{
    background-color: var(--bg-clr);
}

.reveal-left{
    transition: all 1.5s ease;
    transform: translateX(-300px);
    opacity: 0;
}
.reveal-right{
    transition: all 1.5s ease;
    transform: translateX(300px);
    opacity: 0;
}
.reveal-bottom{
    transition: all 1.5s ease;
    transform: translateY(300px);
    opacity: 0;
}
.reveal-left.animate, .reveal-right.animate{
    transform: translateY(0);
    opacity: 1;
}
.reveal-bottom.animate{
    transform: translateY(0);
    opacity: 1;
}